:root{
--primary-color: #ffc222;
}

body{
  font-family: 'Permanent Marker', cursive;
}

nav{
  padding-left: 3%;
  background-color: var(--primary-color) !important;
}

#entries{
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

@media screen and (max-width: 800px) {
  #entries{
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: 1fr;
  }
}


.entry{
  margin-bottom: 1%;
}

.search input{
  background-color: white !important;
  width: 200px !important;
}

.page-footer{
  background-color: var(--primary-color) !important;
}